@charset "utf -8";
.header {
	display:block;
	width:100%;
	padding:10px 0px 40px 10px;
	background-color:#0c2542;
	text-align:center;
	color: white;
}
.btt-position{
	float: right;
	margin-right:5px;
}
.footercol{
	color:white;
	text-align: center;
	padding-top: 15px;
}
.main-cardsel{
	display:block;
	width:100%;
	background-color:#0c2542;
	color:white;
	text-align: center;
	border-radius: 20px;
	padding: 15px;
	margin-bottom:15px;
}